body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout{
  width: 85%;
  margin: 0 auto;
}

.header{
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}

.header .logo,
.header nav{
  flex: 1 1 auto;
}

.header .logo{
  display: flex; 
}

.header .logo h3{
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.header .logo span{
  display: block;
  font-size: 90px;
  margin-top: -8px;
  font-weight: bolder;
}

.header nav ul{
  height: 132px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header li{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}

.header a{
  text-decoration: none;
  color: #000;
  transition: all 300ms;
}

.header a:hover{
  color: rgb(17, 141, 141);
}

.content{
  min-height: 400px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  font-weight: 500;
  background-color: #abb1b0;
  color: black;
}