body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout{
  width: 85%;
  margin: 0 auto;
}

.header{
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 3px solid black;
  margin-bottom: 80px;
}

.header .logo,
.header nav{
  flex: 1 1 auto;
}

.header .logo{
  display: flex; 
}

.header .logo h3{
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.header .logo span{
  display: block;
  font-size: 90px;
  margin-top: -8px;
  font-weight: bolder;
}

.header nav ul{
  height: 132px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header li{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}

.header a{
  text-decoration: none;
  color: #000;
  transition: all 300ms;
}

.header .active,
.header a:hover{
  color: rgb(17, 141, 141);
}


.content{
  min-height: 400px;
  margin-bottom: 80px;
}


.home h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 50px;
}

.home strong{
  color: rgb(17, 141, 141);
}

.home h2{
  color: rgb(94, 92, 92);
  font-weight: 400;
}

.home a{
  background-color: rgb(17, 141, 141);
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 300ms;
}

.home a:hover,
input[type="submit"]:hover,
button:hover{
  background-color: rgb(91, 228, 72);
}

.page .heading,
.home .heading{
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin-bottom: 0;
}

.page .heading{
  font-size: 55px;
  font-weight: bold;
}

input[type="text"],
textarea{
  display: block;
  width: 250px;
  padding: 15px;
  margin-top: 25px;
  border-radius: 5px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  line-height: 7px;
  font-weight: 500;
  background-color: #abb1b0;
  color: black;
}

input[type="submit"],
button{
  font-size: 16px;
  background-color: rgb(17, 141, 141);
  color: white;
  border: 0px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms;
}