*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #ccc;
}

.header nav{
    background-color: #000000;
}

.header nav ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header nav ul li{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.header nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

.header nav ul li a:hover{
    color: #235c9c;
}

.content{
    width: 70%;
    min-height: 350px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #eee;
    margin: 20px auto;
    padding: 20px;
}
